:root {
    --main-ft-color: #2B283A;
    --hover-color: rgb(214, 212, 212);
    --form-border-color: #D1D5DB;
    --select-picker-icon-color: #9CA3AF;
    --hex-label-hover-color: rgb(149, 42, 92);
}

*, *::before, *::after {
    box-sizing: border-box;
}

/* =================
    Typography
   ================= */
   body, button {
        color: var(--main-ft-color);
        font-family: "Inter", sans-serif;
        font-size: clamp(0.75rem, 1vw + 6px, 1rem);
        font-weight: 600;
    }

    .hex-label {
        font-weight: 500;
    }


/* =================
    Main content
   ================= */

html, body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* =================
    Grid container
   ================= */

main {
    display: grid;
    grid-template-rows: 10% 90%;
    width: 100%;
    height: 100%;
}

/* =================
    Scheme Controls
   ================= */

form, select, option {
    display: flex;
}

form, select {
    justify-content: center;
    align-items: center;
}

form {
    position: relative;
    z-index: 1;
    gap: 0 12px;
    margin: 0;
    padding: 0 14px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
}

form > * {
    height: 42px;
    border: 1px solid var(--form-border-color);
}

button, input, select {
    cursor: pointer;
}

button {
    width: 17%;
    border-radius: 4px;
    background-color: white;
}

.submit-btn:hover, select:hover {
    background-color: var(--hover-color);
}

input {
    width: 8%;
    margin: 0 auto;
}

select, ::picker(select) {
  appearance: base-select;
}

select::picker-icon {
    color: var(--select-picker-icon-color);
}

select {
    width: 75%;
    border-radius: 6px;
    padding-left: 13px;
}

::picker(select) {
  border-radius: 6px;
  background-color: white;
  color: black;
  margin-top: 4px;
}

option {
    padding: 8px 16px 12px 8px;
}

option::checkmark {
    order: 1;
    margin-left: auto;
    color: indigo;
}

/* =================
    Scheme List
   ================= */

ul, .hex-label {
    display: flex;
}

ul {
    padding: 0;
    margin: 0;
    position: relative;
}

li {
    list-style-type: none;
    width: 20%;
}

.color-swatch {
    height: 92%;
}

.hex-label {
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 8%;
    border: none;
    width: 100%;
}

.hex-label:hover {
    cursor: pointer;
    color: var(--hex-label-hover-color);
}

#color1 {
    background-color: #F55A5A;
}

#color2 {
    background-color: #2B283A;
}
#color3 {
    background-color: #FBF3AB;
}

#color4 {
    background-color: #AAD1B6;
}

#color5 {
    background-color: #A626D3;
}

/* =================
    Success Modal
   ================= */
@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;            
  }
}

.success-modal {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10%;
    margin: auto;
    width: fit-content;
    background-color: darkolivegreen;
    color: white;
    padding: 0 20px;
    border-radius: 24px;
    animation: slideUp 0.4s ease-out;
}