*, *::before, *::after {
    box-sizing: border-box;
}

/* =================
    Main content
   ================= */

html, body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* =================
    Grid container
   ================= */

main {
    display: grid;
    grid-template-rows: 10% 90%;
    width: 100%;
    height: 100%;
}

/* =================
    Scheme Controls
   ================= */

form, select, option {
    display: flex;
}

form, select {
    justify-content: center;
    align-items: center;
}

form {
    position: relative;
    z-index: 1;
    gap: 0 12px;
    margin: 0;
    padding: 0 14px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
}

form > * {
    height: 42px;
    border: 1px solid #D1D5DB;
}

button, input, select {
    cursor: pointer;
}

button {
    width: 17%;
    border-radius: 4px;
    background-color: white;
}

input {
    width: 8%;
    margin: 0 auto;
}

select, ::picker(select) {
  appearance: base-select;
}

select::picker-icon {
    color: #9CA3AF;
}

select {
    width: 75%;
    border-radius: 6px;
    padding-left: 13px;
}

::picker(select) {
  border-radius: 6px;
  background-color: white;
  color: black;
  margin-top: 4px;
}

option {
    padding: 8px 16px 12px 8px;
}

option::checkmark {
    order: 1;
    margin-left: auto;
    color: indigo;
}

/* =================
    Scheme List
   ================= */

ul, .hex-label {
    display: flex;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
    width: 20%;
}

.color-swatch {
    height: 92%;
}

.hex-label {
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 8%;
}

#color1 {
    background-color: #F55A5A;
}

#color2 {
    background-color: #2B283A;
}
#color3 {
    background-color: #FBF3AB;
}

#color4 {
    background-color: #AAD1B6;
}

#color5 {
    background-color: #A626D3;
}